h1, p {
    margin: 1rem auto;
    text-align: center;
    color: black;
    font-family: rondalo;
  }
   
  body {
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-image: url('image/paper.jpeg');
  background-color: cadetblue;
  }

  a {
    font-family: rondalo;
    color: black;
    padding: 20px;
  }



  